.App {
  text-align: center;
}
body{
  background-image: linear-gradient(white, rgb(48, 48, 119));
  height: 100%;
}
.loginForm{
  background-color: aliceblue;
  width: fit-content;
  padding: 1%;
  padding-top: 2%;
  margin: 0 auto;
  margin-top: 10%
}
.loginForm h3{
  color: rebeccapurple;
  margin-bottom: 15%;
}
.loginForm input{
  margin-top: 10%;
  background-color: rgb(197, 173, 221);
}
.loginForm button{
  background-color: rgb(206, 187, 224);
  color: rgb(56, 58, 59);
}
.card{
  background-image: linear-gradient(white, rgb(168, 160, 160));
  width: 30%;
  padding: .5%;
  margin: 0 auto;
  margin-bottom: 1%;
  margin-top: 1%;
}